@{
    ViewBag.Title = "Main";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    @ViewData["SubTitle"]
                </h1>
                <small>@ViewData["Message"]</small>

                <span class="clear">
                    <img alt="image" class="img-small" src="~/img/logocon_reduced.jpg">
                    
                </span>
            </div>
        </div>
    </div>
</div>